<h1><%= @title %></h1>

<%= form_for( @controller_actions, :url => update_multiple_controller_actions_path, :html => { :method => :put }) do |f| %>

    <% for ca in @controller_actions %>
      <% @controller_action = ca %>
        <% if @controller_action.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@controller_action.errors.count, "error") %> prohibited this controller_action from being saved:</h2>

          <ul>
            <% @controller_action.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= field_set_tag do %>
        <h2><%= f.label "Roles for #{ca.name} " %></h2>
        <div>

          <%= f.fields_for :interactions, @controller_action.initialized_interactions() do |builder| %>
              <% role = builder.object.role %>
              <%= builder.hidden_field :role_id %>

              <div class="field">
                <%= builder.check_box :enable %>
                <%= builder.label :enable, role.name %>
              </div>
          <% end %>
        </div>
        <% end %>
    <% end %>
    <p><%= f.submit @edit_multiple_commit %></p>
<% end %>

<%= link_to 'Back', controller_actions_path %>
